<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write New Chat</title>
</head>
<body>
    <h3>Write New Chat</h3>
    <form method="post" action="/chats">
        <input type="text" placeholder="Who are you ?" name="from" />
        <br />
        <br />
        <textarea name="message" placeholder="Write your message here.."></textarea>
        <br />
        <br />
        <input type="text" placeholder="Add receiver" name="to" />
        <br />
        <br />
        <button>Create</button>
        <br />
        <br />
    </form>
</body>
</html>