<%- include("include/head.ejs") %>
<body>
    <h1>This is a homepage 1 + 2</h1>
    <!-- Dynamic HTML tags -->
    <h3><%= "rishi".toUpperCase() %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quibusdam modi perspiciatis enim fuga. Odit esse impedit atque, itaque maiores, facere, reiciendis debitis odio magni modi eum assumenda aliquid minus.
    Aspernatur quibusdam ad nobis dolorum tenetur in impedit et incidunt ut, voluptatibus odio nisi. Sapiente quaerat laborum id deserunt dolor totam veritatis adipisci tempora est, voluptas autem facilis praesentium quo!
    Nam, quasi. Quisquam delectus, culpa optio possimus cupiditate ex eius illo debitis quia reprehenderit ipsam numquam non autem, mollitia aut labore ratione molestiae inventore et ducimus temporibus consequuntur expedita! Aut.
    Officia voluptatibus ex, autem commodi veritatis fugiat perferendis atque est incidunt, officiis laboriosam accusamus, exercitationem laborum fugit! Dolores iure alias numquam, obcaecati explicabo sequi ipsum mollitia officia ipsa minima voluptate.
    Corporis dolores rem velit deleniti quidem amet placeat molestiae qui! Fuga facere est sunt, non nostrum animi adipisci, qui temporibus deleniti delectus minus velit explicabo quo ipsum, laborum earum possimus.</p>
    <button>Click Me</button>
    <%- include("include/footer.ejs") %>
</body>
</html>